{
    "printWidth": 140,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "as-needed",
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 140,
                "tabWidth": 4,
                "bracketSpacing": true,
                "singleQuote": false,
                "experimentalTernaries": false
            }
        }
    ]
}
